<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ReciperPRO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../static/css/mainstyle.css" th:href="@{/css/mainstyle.css}" rel="stylesheet"/>
    <a th:href="@{/redirectToMain}">
    <img width="100%" height="200" src="../static/img/banerv2.png"
         th:src="@{img/banerv2.png}" alt="baner"/>
    </a>
</head>
    <body>
    <div class="navbar transparent navbar-inverse">
        <div class="navbar-inner">
    <nav id="navbar-main" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" th:href="@{/redirectToMain}">ReciperPRO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/redirectToMain}">Search <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/favourites}">Favourites</a>
                </li>
            </ul>
        </div>
    </nav>
        </div>
    </div>
    <div id="search-div">
        <h5 class="display-4" id="welcome-header">Welcome to reciper, you can start by searching recipes by title or ingredients down below: </h5>
        <form th:action="@{/searched/}" method="post">
            <div id="title-div">
                <input id="title-input" type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1" th:name="title">
            </div>
            <div id="ingredient-div">
                <input id="ingredient-input" type="text" class="form-control" placeholder="Ingredient" aria-label="Ingredient" aria-describedby="basic-addon1" th:name="ingredient">
            </div>
            <div id="search-button-div">
            <button id="search-button" type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    </body>
</html>